/* Container styling */
.container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    float: center;   
  }

  .table-container {
    margin: 20px auto;
    max-width: 1500px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    float: center;
    clear: both;
  }

  .col1{
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%; /* Adjust width as needed, e.g., 100%, 80%, etc. */
    max-width: 1000px; /* Optional: limit the maximum width */
    height: 50%; /* Set a fixed height, adjust as needed */
    overflow: auto; /* Optional: add scroll if content overflows */
}

.col2 {
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%; /* Adjust width as needed, e.g., 100%, 80%, etc. */
    max-width: 1000px; /* Optional: limit the maximum width */
    height: 50%; /* Set a fixed height, adjust as needed */
    overflow: auto; /* Optional: add scroll if content overflows */
}

  
  /* Heading styling */
  h3 {
    font-size: 25px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  /* Form field styling */
  mat-form-field {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 40px;
    justify-content: center;
    align-items: left;
  }
  
  input[matInput] {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }
  
  input[matInput]::placeholder {
    color: #888;
    justify-content: center;
  }
  
  /* Container to center the buttons */
.button-container {
    display: flex;
    justify-content: center; /* Center-align the buttons horizontally */
    margin-top: 20px; /* Add some margin if needed */
  }
  
  /* Style for buttons */
  .custom-button {
    margin-left: 15px; /* Adjust spacing between buttons */
    border-radius: 25px; /* Smooth rounded edges */
    padding: 10px 20px; /* Add some padding for better appearance */
    font-size: 16px; /* Adjust font size */
  }
  
  /* Optional: Add hover effect for better user experience */
  .custom-button:hover {
    background-color: #5a5a5a; /* Darker shade on hover */
    color: white; /* Change text color on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
  }