<div class = "container">
    <br>
    <h3 style="text-align: center"> US Agri-Carbon data Statistics</h3>
    
    <mat-form-field>
        <mat-label>Select Farm</mat-label>
        <mat-select [(value)]="selectedFarm">
            <mat-option></mat-option>
            @for (option of farms; track option) {
            <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    
    <br>
    <div class="button-container">
        <button mat-flat-button class="custom-button" (click)="fetchData(selectedFarm)">Submit</button>
      </div>
</div>

<div class="row">
    <div class="col1">
        <h6>{{selectedFarm}}: Average NPPy across the years</h6>
        <canvas id="barGraph"></canvas>

    </div> 
    <div class="col2">
        <h6>{{selectedFarm}}: GPP vs NDVI</h6>
        <canvas id="scatterGraph"></canvas>

    </div>  
    <div class="col3">
        <h6>{{selectedFarm}}: NPP across the years</h6>
        <canvas id="lineGraph2"></canvas>

    </div>  
    <div class="col4">
        <h6>{{selectedFarm}}: NDVI across the years</h6>
        <canvas id="lineGraph"></canvas>

    </div> 
    
</div>

<div class = "table-container">
        <h6>{{selectedFarm}}: Vegetation Data</h6>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
           
        <!-- Farm Column -->
        <ng-container matColumnDef="Farm">
          <th mat-header-cell *matHeaderCellDef> Farm</th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.Farm}} </td>
        </ng-container>
      
        <!-- Date Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.Date}} </td>
        </ng-container>
      
        <!-- latitude Column -->
        <ng-container matColumnDef="latitude">
          <th mat-header-cell *matHeaderCellDef> latitude </th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.latitude}} </td>
        </ng-container>
      
        <!-- longitude Column -->
        <ng-container matColumnDef="longitude">
          <th mat-header-cell *matHeaderCellDef> longitude </th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.longitude}} </td>
        </ng-container>

         <!-- GPP Column -->
        <ng-container matColumnDef="GPP">
          <th mat-header-cell *matHeaderCellDef> GPP</th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.GPP}} </td>
        </ng-container>
      
        <!-- NDVI Column -->
        <ng-container matColumnDef="NDVI">
          <th mat-header-cell *matHeaderCellDef> NDVI </th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.NDVI}} </td>
        </ng-container>
      
        <!-- NPPy Column -->
        <ng-container matColumnDef="NPPy">
          <th mat-header-cell *matHeaderCellDef> NPPy </th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.NPPy}} </td>
        </ng-container>
      
        <!-- Npp Column -->
        <ng-container matColumnDef="Npp">
          <th mat-header-cell *matHeaderCellDef> Npp </th>
          <td mat-cell *matCellDef="let agrifarm"> {{agrifarm.Npp}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let agrifarms; columns: displayedColumns;"></tr>
      </table>

    <mat-paginator 
                [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
    </mat-paginator>

    

</div>

