<div class = "container">
    <br>
    <h3 style="text-align: center"> US Agri-Carbon Heat map</h3>
    <!-- <mat-form-field>
        <input matInput placeholder="Enter Farm" type="text" #farmName>  
    </mat-form-field> -->
    
    <mat-form-field>
        <mat-label>Select Farm</mat-label>
        <mat-select [(value)]="selectedFarm">
            <mat-option></mat-option>
            @for (option of farms; track option) {
            <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Enter Date" type="text" #date>
    </mat-form-field>
    <br>
    <div class="button-container">
        <button mat-flat-button class="custom-button" (click)="loadCarbonData(date.value,selectedFarm)">Submit</button>
        <button mat-flat-button class="custom-button">Cancel</button>
      </div>
    </div>
    
    <div id="map" style="height: 1000px; width: 50%;"></div>

