<div class="main-layout">
<div class = "container">
    <br>
    <h3 style="text-align: center"> US Agri-Carbon Heat map</h3>
    
    <mat-form-field>
        <mat-label>Select Farm</mat-label>
        <mat-select [(value)]="selectedFarm">
            <mat-option></mat-option>
            @for (option of farms; track option) {
            <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
        <input matInput placeholder="Enter Date" type="text" #date>
    </mat-form-field> -->
    <mat-form-field appearance="outline">
        <mat-label>Select Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <br>
    <div class="button-container">
        <button mat-flat-button class="custom-button" (click)="loadCarbonData(selectedDate,selectedFarm)">Submit</button>
      </div>
    </div>
      
    
    <div id="map" style="height: 700px; width: 50%;"></div>

</div>

<div class="container-cvm">
    <h6 style="text-align: center">Estimated Total Carbon flux: {{selectedFarm}} : {{selectedDate | date: 'MM/dd/yyyy'}}</h6>
    <h4 style="text-align: center; font-weight: bold;">{{totalcarbon | number: '1.2-2'}} KgC</h4>
    <!-- Content for crop vegetation metrics goes here -->
</div>

